.container {
  text-align: center;
}

.iphone8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  display: inline-block;
}

.iphone8 .content {
  z-index: -1;
  position: absolute;
  width: 90%;
  top: 14.5%;
  left: 5%;
}
